span{
    color: #ffffff;
}
.ds_element_first{
    position: relative;
    color: #ffffff;
    width: 100%;
    text-align: center;
    vertical-align: middle;
}

.show {
    -webkit-animation: fade;
    animation: fade;
    animation-fill-mode: forwards;
}
.hide {
    -webkit-animation: fadeOut 1s;
    animation: fadeOut 1s;
    animation-fill-mode: forwards;
}
.name{
    font-size: 0.85em;
}
.avatar{
    border-radius: 99999px;
    width: 240px;
    height: 240px;
}
.ranking__wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.name__wrapper{
    display: flex;
    justify-items: center;
    align-items: center;
    gap: 5px;
}
.avatar__wrapper{
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 15px;
    margin-top: 30px;
}

.elo__wrapper{
    opacity: 0;
    display: flex;
    gap: 20px;
    align-items: center;
    color: #ffffff;
    position: relative;
    font-size: 80px;
}
.diff__wrapper{
    opacity: 0;
    justify-content: center;
    display: flex;
    align-items: center;
    font-size: 40px;
    position: relative;
}
.aftergame__wrapper{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: rgba(0, 0, 0, 0.3);
    z-index: 10;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    gap: 20px;
}

.stats__wrapper {
    opacity: 0;
    position: relative;
    display: flex;
    gap: 75px;
    .ds {
        position: relative;
        text-align: center;
        color: white;
        display: flex;
        justify-content: center;
        flex-direction: column;
        align-items: center;
    }
}
.show__stats{
    animation: fadeUpMove 1s;
    animation-delay: 3s;
    animation-fill-mode: forwards;
}
.show__avatar{
    animation: fadeUpMove 1s;
    animation-delay: 0.5s;
    animation-fill-mode: forwards;
}
.show__elo{
    animation: fadeUpMove 1s;
    animation-delay: 1.5s;
    animation-fill-mode: forwards;
}
.show__diff{
    animation: diffMove 2s;
    animation-fill-mode: forwards;
    animation-delay: 2s;
}
@keyframes fade {
    0% { opacity: 0 }
    100% { opacity: 1 }
}
@keyframes fadeUpMove {
    0% {opacity: 0; top: +10%}
    100% {opacity: 1; top: 0}
}

@keyframes diffMove {
    0% {opacity: 0; top: +10%}
    50% {opacity: 1; top: 0}
    100% {opacity: 0; top: -10%}
}
@keyframes fadeOut {
    0% { opacity: 1 }
    100% { opacity: 0 }
}