ul {
    display:flex;
    gap: 100px;
    list-style: none;
}
li{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.liElem{
    display: flex;
    justify-content: center;
    color: white;
}