#top-wrapper{
    border: solid;
    border-radius: 99999px;
    display: flex;
    align-items: center;
    padding: 8px 8px 8px 10px;
    background: rgb(232, 1, 40);
    gap: 5px;
}
#top-icon{
    display: flex;
    align-items: center;
}
#top-value{
    font-size: 25px;
}