body {
  margin: 0;
  font-family: Impact, sans-serif;
  font-size: 15px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/*code {*/
/*  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',*/
/*    monospace;*/
/*}*/

#wrapper{
  background-color: rgb(0 0 0 / 50%);
  height: 30px;
  width: 60px;
  border-radius: 16px 0px 0 16px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 5px;
  padding-left: 2px;
  border: none;

}
#wrapper-red{
  background-color: rgb(0 0 0 / 50%);
  height: 30px;
  width: 60px;
  border-radius: 0px 16px 16px 0px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 5px;
  padding-right: 2px;
  border: none;
}

main{
  display: flex;
}
#levelpic {
  height: 24px;
  width: 24px;
}
#elo {
  color: white;
}
#top {
  color: #f22043;
}